<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>CodePen - Balloons! 🎈</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="balloon" style="--x: 56; --h: 26; --s: 4; --d: 5; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 33; --h: 234; --s: 35; --d: 4; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 75; --h: 107; --s: 36; --d: 9; --delay: 9;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 31; --h: 94; --s: 50; --d: 8; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 51; --h: 112; --s: 2; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 5; --h: 75; --s: 4; --d: 2; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 33; --h: 261; --s: 11; --d: 3; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 84; --h: 98; --s: 28; --d: 6; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 5; --h: 257; --s: 23; --d: 9; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 41; --h: 98; --s: 26; --d: 10; --delay: 9;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 98; --h: 61; --s: 2; --d: 10; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 32; --h: 314; --s: 2; --d: 4; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 74; --h: 108; --s: 50; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 95; --h: 179; --s: 32; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 33; --h: 204; --s: 29; --d: 9; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 35; --h: 299; --s: 11; --d: 6; --delay: 5;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 65; --h: 273; --s: 13; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 19; --h: 257; --s: 2; --d: 5; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 12; --h: 276; --s: 12; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 49; --h: 67; --s: 19; --d: 4; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 98; --h: 242; --s: 3; --d: 10; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 23; --h: 262; --s: 4; --d: 8; --delay: 7;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 49; --h: 261; --s: 1; --d: 4; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 98; --h: 62; --s: 22; --d: 10; --delay: 8;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 91; --h: 69; --s: 3; --d: 2; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 69; --h: 218; --s: 29; --d: 2; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 3; --h: 188; --s: 28; --d: 4; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 92; --h: 90; --s: 12; --d: 7; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 10; --h: 289; --s: 8; --d: 2; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 9; --h: 301; --s: 34; --d: 10; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 6; --h: 104; --s: 1; --d: 8; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 54; --h: 247; --s: 36; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 36; --h: 136; --s: 48; --d: 6; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 71; --h: 354; --s: 1; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 27; --h: 175; --s: 8; --d: 4; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 70; --h: 207; --s: 5; --d: 10; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 24; --h: 353; --s: 14; --d: 8; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 72; --h: 20; --s: 14; --d: 4; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 96; --h: 63; --s: 9; --d: 4; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 44; --h: 49; --s: 18; --d: 7; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 62; --h: 352; --s: 35; --d: 4; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 45; --h: 175; --s: 30; --d: 3; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 52; --h: 192; --s: 17; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 1; --h: 281; --s: 38; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 56; --h: 356; --s: 37; --d: 9; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 100; --h: 190; --s: 15; --d: 8; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 65; --h: 48; --s: 1; --d: 4; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 58; --h: 170; --s: 4; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 93; --h: 351; --s: 46; --d: 6; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 57; --h: 156; --s: 28; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 5; --h: 63; --s: 17; --d: 5; --delay: 5;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 100; --h: 306; --s: 33; --d: 7; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 8; --h: 60; --s: 26; --d: 9; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 60; --h: 175; --s: 32; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 72; --h: 46; --s: 21; --d: 4; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 1; --h: 176; --s: 25; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 3; --h: 305; --s: 10; --d: 9; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 22; --h: 36; --s: 11; --d: 7; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 61; --h: 25; --s: 44; --d: 5; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 76; --h: 254; --s: 39; --d: 6; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 76; --h: 28; --s: 1; --d: 9; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 43; --h: 5; --s: 41; --d: 10; --delay: 8;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 9; --h: 313; --s: 35; --d: 10; --delay: 7;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 21; --h: 199; --s: 5; --d: 10; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 90; --h: 276; --s: 50; --d: 2; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 53; --h: 124; --s: 33; --d: 5; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 57; --h: 262; --s: 39; --d: 3; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 90; --h: 78; --s: 30; --d: 4; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 61; --h: 215; --s: 10; --d: 6; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 91; --h: 321; --s: 30; --d: 7; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 32; --h: 129; --s: 43; --d: 7; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 42; --h: 41; --s: 18; --d: 6; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 94; --h: 93; --s: 12; --d: 8; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 33; --h: 336; --s: 27; --d: 7; --delay: 4;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 80; --h: 280; --s: 46; --d: 9; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 99; --h: 231; --s: 34; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 32; --h: 274; --s: 6; --d: 9; --delay: 9;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 22; --h: 339; --s: 41; --d: 5; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 91; --h: 204; --s: 17; --d: 4; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 38; --h: 96; --s: 1; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 3; --h: 56; --s: 31; --d: 6; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 58; --h: 158; --s: 11; --d: 6; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 73; --h: 126; --s: 3; --d: 2; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 94; --h: 264; --s: 20; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 54; --h: 92; --s: 29; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 84; --h: 148; --s: 45; --d: 6; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 30; --h: 315; --s: 31; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 99; --h: 66; --s: 4; --d: 3; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 84; --h: 212; --s: 22; --d: 5; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 58; --h: 234; --s: 30; --d: 4; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 98; --h: 96; --s: 21; --d: 10; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 10; --h: 4; --s: 41; --d: 7; --delay: 7;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 64; --h: 126; --s: 5; --d: 9; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 45; --h: 326; --s: 4; --d: 7; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 93; --h: 198; --s: 32; --d: 8; --delay: 6;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 23; --h: 313; --s: 43; --d: 3; --delay: 3;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 51; --h: 340; --s: 13; --d: 5; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 31; --h: 3; --s: 47; --d: 4; --delay: 2;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 49; --h: 335; --s: 18; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>
<div class="balloon" style="--x: 20; --h: 25; --s: 43; --d: 1; --delay: 1;">
  <div class="balloon__handle"></div>
</div>

  
</body>
</html>
